<table class="table table-condensed" id="table-available" >
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Key</th>
            <th>Alias</th>
            <th>Grupo</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        {% if devices|length > 0 %}
            {% for device in devices %}
                <tr  id="{{device.id}}" >
                    <td>
                        <a class="edit-asset-button btn" href="{{ path('updateDevice_route', {'deviceId' : device.id}) }}"> 
                            <span class="glyphicon glyphicon-edit" data-action="erase" data-id="{{ device.id }}"></span>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <button class="delete-asset-button btn" data-toggle="popover" data-html="true" data-id="{{ device.id }}"
                              data-placement="right" data-title="¿Estás seguro?" data-trigger="manual" type="button" data-original-title="">
                              <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        {% endif %}
                    </td>
                    <td> {{device.id}}</td>
                    <td> {{device.sshKey|slice(0, 25) ~ '...'}} </td>
                    <td> {{device.name}}</td>
                    <td> {{device.group.name}}</td>
                    <td> {{device.group.user.username}}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
