{% extends 'YustPlayItBundle:Admin:default.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %} 

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            {{ form_start(form) }}      
            {{ form_row(form.group.name) }}
            {% if is_granted('ROLE_ADMIN') %}
                {{ form_row(form.group.user) }}
            {% else %}
                {{ form_row(form.group.user, {'read_only': 'true'}) }}
            {% endif %}
            {{ form_end(form) }} 
        </div>
    </div>
{% endblock %}
