{% extends '@YustPlayIt/Client/base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="row">
    <div class="col-sm-1"></div>
        <div class="col-sm-4">
        {{ form_start(form,{'attr': {'id':'myForm'} }) }}      
         <div class="form-group">                   
            {{ form_label(form.oldPassword, 'Contraseña actual') }}
            {{ form_widget(form.oldPassword,{'attr': {'class':'form-control'} }) }}   
         </div>
         
         {% for passwordField in form.newPassword %}
            <div class="form-group">
                {{ form_label(passwordField) }} 
                {{ form_widget(passwordField,{'attr': {'class':'form-control'} }) }}
            </div>
        {% endfor %}
         {{ form_widget(form.submit,{'label': 'Guardar', 'attr': {'class':'btn btn-primary'}}) }}
         {{ form_end(form) }}
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#overview").removeClass('active');
            $("#profile").addClass('active');
            $("#form_newPassword_first, #form_newPassword_second").keyup(function(){
                if ($("#form_newPassword_first").val() === $("#form_newPassword_second").val()){
                    //$("#passOK").removeClass("glyphicon-remove-sign font_glyph_red");
                    //$("#passOK").addClass("glyphicon-ok-sign font_glyph_green");
                } else {
                    //$("#passOK").removeClass("glyphicon-ok-sign font_glyph_green");
                    //$("#passOK").addClass("glyphicon-remove-sign font_glyph_red");                                 
                }
                //$("#passOK").show();
            });
        });
    </script>
{% endblock %}
