{% extends 'YustPlayItBundle:Security:login.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %} 

{% block body %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            {{ form_start(form) }}      
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.enviar, {'attr': { 'class': 'btn-primary' } }) }}
            {{ form_end(form) }} 
        </div>
    </div>
{% endblock %}
