{% import "@YustPlayIt/Client/macros.html.twig" as macros %}
<table class="table table-condensed assets-table" id="table-available" data-group_id="{{ current_group_id }}">
    <thead>
        <tr>
            <th>Nombre</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if contents_all|length > 0 %}
            {% for content in contents_all %}
                <tr id="{{content.id}}" data-assetid="{{ content.id }}">
                    <td>{{ macros.iconType(content.type.name) }} {{content.name}}</td>
                    <td class="asset_row_btns" style="width:13%; min-width:120px">
                        <button class="edit-asset-button btn" type="button" title="Editar contenido">
                          <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button class="delete-asset-button btn" title="Eliminar contenido" data-toggle="popover" data-html="true" 
                         data-placement="left" data-title="¿Estás seguro?" data-trigger="manual"
                         type="button" data-original-title="">
                          <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                    <td class="asset_row_btns" style="width:7%; min-width:60px">
                        <button class="turnon_asset_button btn asset_btn_red" type="button" title="Activar contenido">
                          <i class="glyphicon glyphicon-off"></i>
                        </button>  
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
